<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><div style='width: 100%;height: 100%;margin: 0px auto;opacity: 0.82;border-top: 69px solid rgb(234, 3, 3);background-color: rgb(230, 4, 4);'>
<div style='width:70%;height:90%;border:25px dotted #FB7F75;margin: 0 auto;'>
    <div style='width:100%;height:100%;border: 1px dotted rgb(252, 80, 80);background-color: rgb(255, 223, 224);border-radius: 7%;'>
        <div style='width:99%;height:20%;margin: 0 auto;font-size: 27px;color: rgb(249, 115, 115);'>
        <h1><marquee>Hello World!</marquee></h1>
        </div>